/* CSS for slide transition */
.genre-slide-enter {
  transform: translateY(-100%);
}

.genre-slide-enter-active {
  transform: translateY(0);
  transition: transform 500ms;
}

.genre-slide-exit {
  transform: translateY(0);
}

.genre-slide-exit-active {
  transform: translateY(100%);
  transition: transform 500ms;
}
